@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
    font-family:'宋体';
}

.main {
	width:606px;
	height:345px;
	margin:0 auto;
    border: 2px solid #4fb1d4;
    position: relative;
}

/*顶部导航栏*/
.top {
	width:95%;
	height:30px;
	margin:3px 10px;
	display:inline-block;
	font-size:14px;
}

.top .search {
	display:inline;
    position: relative;
    top: 2px;
}

.top .search input {
	font-size:14px;
}

.top .recommend {
	display:inline;
	width:200px;
	height:30px;
	position: relative;
	top: -1px;	
}

.top .recommend span {
	position:relative;
	top:1px;
}

.top .radio-style {
	position:relative;
	left:48px;
	display:inline;
	height:inherit;
}

/*自定义check和radio样式*/
label { 
	display: inline; 
	cursor: pointer; 
	line-height: 20px; 
	padding-bottom: 1px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2); 
}
.checkboxes {
	border-bottom: 1px solid #0064cd;
}
.radios { 
	padding-top: 18px;
	border-top: 1px solid #049CDB;
}
.label_check input,
.label_radio input { margin-right: 5px; 
}

.has-js .label_check,
.has-js .label_radio { 
	padding-left: 17px;
    text-align: left;
}

.has-js .label_radio, 
.has-js .label_check{ 
	background: url(../image/sprite24.png?xxxx) no-repeat;
    _background:url(../image/sprite8.png?xxxx) no-repeat;
}
.has-js .label_radio { 
	background-position: -10px -343px;
}
.has-js .label_check { 
	background-position: -10px -379px
}
.has-js label.c_on { 
	background-position: -10px -396px;
}
.has-js label.r_on { 
	background-position: -10px -361px;
}

.has-js .label_check input,
.has-js .label_radio input { 
	position: absolute; 
	left: -9999px; 
} 
		
/*滚动栏样式*/
.nano {
	width: 600px;
	height: 300px;
	font-size:12px;
	border-radius:8px;
    _overflow-y:auto;
}

.nano .pane {
	background: #ffffff;
	width: 8px;
  	margin-left: 13px;
}

.nano .slider {
	background: #4fb1d4!important;
}

/*图片显示区域*/
.img-wrapper {
	width:100%;
	height:100%;
	display:none;
}

.tab-active {
	display:block;
}

.img-wrapper ul {
    display:block;
    overflow: hidden;
}

.img-wrapper ul li{
	width:120px;
	height:135px;
	_display:inline;
	float:left;
	margin:0px 11px 20px 12px;
    border: 1px solid #4fb1d4;
    border-radius: 2px;
}

.img-wrapper ul li .display {
	margin:2px 0px;
	display:block;
	width:120px;
	height:18px;
}

.img-wrapper ul li .display .title{
	color:#249CAD;
	font-size:12px;
	float:left;
}

.img-wrapper ul li .display .number{	
	font-size:12px;
	float:right;
}

.img-wrapper ul li .edit {
	width:120px;
	height:20px;
	display:block;
	position:relative;
}

.edit a.button {
    display: block;
	width:60px;
	height:18px;
    line-height: 18px;
    padding-left: 20px;
    font-size: 14px;
    text-decoration: none;
    float: left;
    color: #000000;
	background:url(../image/sprite24.png?xxxx) no-repeat -10px -435px;
    _background:url(../image/sprite8.png?xxxx) no-repeat -10px -435px;
}

.edit a.close {
    display: block;
    height: 18px;
    width: 18px;
    float: right;
    background:url(../image/sprite24.png?xxxx) no-repeat -10px -454px;
    _background:url(../image/sprite8.png?xxxx) no-repeat -10px -454px;
    position: relative;
    top: 2px;
}
.img-wrapper ul li button {
	font-size:14px;
	font-family:'宋体';
	font-weight:bolder;
	background:none;
	border:none;
	position: relative;
	top: -3px;	
	cursor: pointer;
}
/*点击编辑后弹出遮盖层*/
.blocklayer{
	background-color: #808080;
	/*opacity: */
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter:alpha(opacity=65)
	height:20px;
	position: absolute;
	display: none;
	top:0px;
	left:0px;
	z-index:22;
	cursor: pointer;
	width:606px;
	height:345px;
	position: absolute;
}

/*弹出频道推荐窗口*/
.popup{
	display: none;
	width:250px;
	height:220px;
	background-color:#F7F7F7;
	position: absolute;
	top:70px;
	left:150px;
	opacity:1;
	z-index: 100;
}

.popuplongbtn{
	width:80px;
	height:20px;
	margin-left: 10px;
	margin-top: 30px;
	cursor: pointer;
}

.popup img{
	margin-top: 20px;
	margin-left: 10px;
	float:left;
	display: inline-block;
}

.popup .popup_header {
	font-size: 10px;
	background-color: #EDEDED;
	height:20px;
	position: relative;

}
.popup .popup_header .popup_title{
	margin-left: 10px;
	line-height: 20px;
	display: inline-block;

}
.closebtn{
    background:url(../image/sprite24.png?xxxx) no-repeat -10px -454px;
    _background:url(../image/sprite8.png?xxxx) no-repeat -10px -454px;
	width:20px;
	height:20px;
	float:right;
	margin-right: 4px;
	margin-top: 1px;
	cursor: pointer;
	display: inline-block;
}
.popupenter{
	margin-top: 25px;
	margin-left: 10px;
	display: block;
	width:200px;
}

.popup_content .confirmbtn{
	position: absolute;
	right:80px;
	bottom: 10px;
	width: 60px;
	height:20px;
	cursor: pointer;
}

.popup_content .cancelbtn{
	position: absolute;
	right:10px;
	bottom: 10px;
	width: 60px;
	height:20px;
	cursor: pointer;
}

.popup_content{
	position: relative;
	width:250px;
	height:200px;
}

/*推荐成功窗口*/
.recommend-success {
	width:235px;
	background-color:#F7F7F7;
	height:120px;
	display:none;
	position: absolute;
	top: 120px;
	left: 158px;
	z-index:100;
}

.recommend-success .popup_header {
	font-size: 10px;
	background-color: #EDEDED;
	height:20px;

}

.recommend-success .popup_header .popup_title{
	margin-left: 10px;
	line-height: 20px;
}

.recommend-success .text-img {
	width:220px;
	height:40px;
	margin:5px;
	display:block;
	position:relative;
	left:28px;
	top:15px;
}

.recommend-success .text-img span {
	position:relative;
	top:-5px;
}

.recommend-success .text-img img {
	display:inline;
}

.recommend-success .button-style {
	position:relative;
	top:10px;
	left:25px;
}

.recommend-success .button-style button#OK {
	position:relative;
	top:0px;
	width:60px;
	height:25px;
	margin:0 5px;
}

.recommend-success .button-style button#manage {
	position:relative;
	top:0px;
	width:105px;
	height:25px;
	margin:0 5px;
}