@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
    font-family:'宋体';
}

.main {
	width:606px;
	height:345px;
	margin:0 auto;
    border: 2px solid #4fb1d4;
    position: relative;
}

.top {
	width:inherit;
	height:30px;
	margin:0 auto;
	display:inline-block;
	font-size:14px;
}

.top .search {
	display:inline;
}

.top .search input {
	font-size:14px;
}

.top .recommend {
	display:inline;
	width:200px;
	height:inherit;
}

.top .recommend span {
	position:relative;
	top:2px;
}

.top .radio-style {
	position:relative;
	left:40px;
	display:inline;
	height:inherit;
}
.top .radio-style div{
	margin:0px 5px;
}

.top .radio-style span{
	width: 62px;
	_display:inline-block;
	position:relative;
	top:2px;
}

.nano {
	width: 600px;
	height: 310px;
	font-size:12px;
	border-radius:8px; 
}

.nano .pane {
	background: #ffffff;
	width: 8px;
  	margin-left: 13px;
}

.nano .slider {
	background: #4fb1d4!important;
}

.img-wrapper {
	width:100%;
	height:100%;
	display:none;
}

.tab-active {
	display:block;
}

.img-wrapper ul {
    display:block;
    overflow: hidden;
}

.img-wrapper ul li{
	width:120px;
	height:135px;
	_display:inline;
	float:left;
	margin:0px 11px 20px 12px;
    border: 1px solid #4fb1d4;
    border-radius: 2px;
}

.img-wrapper ul li .display {
	margin:2px 0px;
	display:block;
	width:120px;
	height:18px;
}

.img-wrapper ul li .display .title{
	color:#249CAD;
	font-size:12px;
	float:left;
}

.img-wrapper ul li .display .number{	
	font-size:12px;
	float:right;
}

.img-wrapper ul li .edit {
	width:120px;
	height:20px;
	display:block;
	position:relative;
}

.img-wrapper ul li button {
	font-size:14px;
	font-family:'黑体';
	font-weight:bolder;
	background:none;
	border:none;
	position: relative;
	top: -3px;	
	cursor: pointer;
}

.img-wrapper ul li .close {
	position:absolute;
	right:0px;
}



.blocklayer{
	background-color: #808080;
	/*opacity: */
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter:alpha(opacity=65)
	height:20px;
	position: absolute;
	display: none;
	top:0px;
	left:0px;
	/*filter:none;    */
	z-index:22;
	cursor: pointer;
	width:606px;
	height:345px;
	position: absolute;
}

.popup{
	display: none;
	width:250px;
	height:220px;
	background-color:#ffffff;
	position: absolute;
	top:70px;
	left:150px;
	opacity:1;
	z-index: 100;
	/*margin: 0 auto;*/
}

.popuplongbtn{
	width:80px;
	height:20px;
	margin-left: 10px;
	margin-top: 30px;
	cursor: pointer;
}

.popup img{
	margin-top: 20px;
	margin-left: 10px;
	float:left;
	display: inline-block;
}

.popup .popup_header {
	font-size: 10px;
	background-color: #646464;
	height:20px;

}
.popup .popup_header .popup_title{
	margin-left: 10px;
	line-height: 20px;
}
.closebtn{
	background: url("../image/closebtn.png");
	width:23px;
	height:17px;
	float:right;
	margin-right: 4px;
	margin-top: 1px;
	cursor: pointer;
}
.popupenter{
	margin-top: 25px;
	margin-left: 10px;
	display: block;
	width:200px;
}

.popup_content .confirmbtn{
	position: absolute;
	right:80px;
	bottom: 10px;
	width: 60px;
	height:20px;
	cursor: pointer;
}

.popup_content .cancelbtn{
	position: absolute;
	right:10px;
	bottom: 10px;
	width: 60px;
	height:20px;
	cursor: pointer;
}

.popup_content{
	position: relative;
	width:250px;
	height:200px;
}