@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
}

.main {
	width:596px;
	height:335px;
	border-color:#0ea;
	border-style:solid;
	margin:0 auto;
	padding:5px;
}

.top {
	width:inherit;
	height:30px;
	margin:0 auto;
	display:inline-block;
	font-size:14px;
	font-family:微软雅黑;
}

.top .search {
	display:inline;
}

.top .search input {
	font-family:微软雅黑;
	font-size:14px;
}

.top .recommend {
	display:inline;
	width:200px;
	height:inherit;
}

.top .radio-style {
	position:relative;
	left:50px;
	display:inline;
	height:inherit;
}

.top .radio-style span{
	width: 62px;
	display:inline-block;
}

.nano {
	width: 594px; 
	height: 325px; 
	font-size:12px;
	border-radius:8px; 
}

.nano .content { 
	padding: 7px;
}

.nano .pane {
	background: #555;
	width: 8px;
	right: 1px;
  	margin: 5px;
}

.nano .slider {
	background: #111;
}


.content {
	width:587px;
	height:307px;
	display:block;
	/*border-color:#930;
	border-style:solid;*/
}

.content ul {
	 display:inline; 
	 padding:0px;
}

.content ul li{
	width:120px;
	height:135px;
	display:inline;
	float:left;
	margin:7px 13px;
}

.content ul li .display {
	margin:2px 0px;
	display:block;
	width:120px;
	height:18px;
}

.content ul li .display span#title{
	color:#03F;
	font-size:12px;
	float:left;
}

.content ul li .display span#number{	
	font-size:12px;
	float:right;
}

.content ul li .edit {
	width:120px;
	height:20px;
	display:block;
	position:relative;
}

.content ul li button {
	font-size:14px;
	font-family:黑体;
	font-weight:bolder;
	background:none;
	border:none;
	position: relative;
	top: -3px;	
}

.content ul li img#close {
	position:absolute;
	right:0px;
	/*float:right;*/
}


