/* 全局global */
* {
    list-style-type: none;
}

body {
    text-align: center;
    font: normal normal 12px "宋体";
    color: #2e5305;
    overflow: hidden;
}

.ib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.wrapper {
    width: 736px;
    height: 467px;
    margin: 0% auto;
}
a {
    text-decoration: none;
    display: block;
    border: none;
    blur: expression(this.blur());
}
a:active {
    outline: none;
}
