@charset "utf-8";
/* CSS Document */
/* global setting */
.ib {
    display: inline-block;
}
body {
    font: 12px '宋体';
    overflow: hidden;
}

/* header */
.header {
	position: absolute;
	top:10px;
	right:10px;
    float: right;
    z-index: 22;
    text-align: right;
    display: inline-block;
}

.header_text{
	padding-left: 3px;
	line-height: 18px;
	height:18px;
	font-size: 12px;
	display: inline-block;
	vertical-align:middle;
}

.luck4one{
	width: 66px;
	height: 28px;
	/*background: url("../image/luck.png");*/
	display: inline-block;
	position: absolute;
	right:210px;
	top:5px;
}
/* container */
.main_container{
	position: relative;
	width:606px;
	height: 345px;
	margin:0 auto;
    outline: 1px dashed #444444;
}

.recommand_header{
    margin: 0 auto;
    border: 1px solid #4fb1d4;
}
.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
}
.cactive{
	display: block;
    height: 345px;
    top: 12px;
}
.renqizhubo,
.gamezhibo {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 2px auto;
}
.gamezhibo {
    /*margin-top: 15px;*/
}
.cell_icon {
    width: 70px;
    height: 18px;
    line-height: 18px;
    text-align: right;
    margin-left: 30px;
}
.renqizhubo .cell_icon {
    background: url(../image/sprite24.png?xxx) -10px -94px no-repeat;
    _background: url(../image/sprite8.png?xxx) -10px -94px no-repeat;
}
.gamezhibo .cell_icon {
    background: url(../image/sprite24.png?xxx) -6px -120px no-repeat;
    _background: url(../image/sprite8.png?xxx) -6px -120px no-repeat;
    width: 75px;
}
.prev,.next{
	width: 22px;
	height:130px;
	display: block;
	cursor: pointer;
    float: left;
}
.prev{
	float:left;
	background: url(../image/left_normal.png?xxx) no-repeat center;
}
.prev:hover{
	background: url(../image/left_hover.png?xxx) no-repeat center;
}
.prev:active{
    background: url(../image/left_press.png?xxx) no-repeat center;
}
.next{
    float:left;
    background: url(../image/right_normal.png?xxx) no-repeat center;
}
.next:hover{
	background: url(../image/right_hover.png?xxx) no-repeat center;
}
.next:active{
    background: url(../image/right_press.png?xxx) no-repeat center;
}
.jCarouselLite {
	margin: 0 auto;
    float: left;
}
.jCarouselLite ul{
    height: 130px;
    overflow: hidden;
}
.jCarouselLite ul li{
    position: relative;
    float: left;
    margin: 5px 8px;
    width: 122px;
    height: 120px;
    overflow: hidden;
    border: 1px solid #a6d6e5;
    border-radius: 3px;
    z-index: 1;
    _display: inline;
}

.jCarouselLite ul li a{
	display: block;
	width: 120px;
	height: 90px;
}
a.renqi_cell_image {
    display: block;
    background: url(../image/avatar.png?xxx) no-repeat center;
    width: 120px;
    height: 90px;
}
a.game_cell_image {
    display: block;
    background: url(../image/game-living.png?xxx) no-repeat center;
    width: 120px;
    height: 90px;
}
p.cell_name {
    color: #4fb1d4;
    padding: 6px 2px;
}
.people_num{
	float: right;
    background: url(../image/sprite24.png?xxx) -9px -145px no-repeat;
    _background: url(../image/sprite8.png?xxx) -9px -145px no-repeat;
    width: 35px;
    text-align: right;
    color: #889396;
}
.people_name{
	text-align: left;
	width:70px;
	position: absolute;
	top:160px;
	left:5px;
	font-size:12px;
}
.room_id{
	height: 21px;
	width: 23px;
	position: absolute;
	top:0px;
    right: 4px;
	color: #ffffff;
	text-align: center;
	padding: 0 0 0 0;
	font-size: 12px;
	background: url(../image/sprite24.png?xxx) -9px -65px no-repeat;
    _background: url(../image/sprite8.png?xxx) -9px -65px no-repeat;
}

.hover_tiplive{
	width: 120px;
	height: 90px;
	background-color: #808080;
	/*opacity: */
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter:alpha(opacity=65)
	height:20px;
	position: absolute;
	top:0px;
	left:0px;
	text-align: center;
	/*filter:none;    */
	z-index:2;
	cursor: pointer
}
.hover_tipgame{

}
.one_line{
	width: 700px;
	height:180px;
}
.recommand_title{
	display: inline-block;
	width: 120px;
}

.cell_icon{
	margin-left: 40px;
}
	
.play_icon{
	background: url(../image/sprite24.png?xxx) -6px -6px no-repeat;
    _background: url(../iamge/sprite8.png?xxx) -6px -6px no-repeat;
	position: absolute;
	top:23px;
	left:40px;
	width: 43px;
	height: 43px;
}

/*hover 美女直播频道的text*/
.channelhoverlivetext{

}

.gamehoverlivetext{
	color:#ffffff;
	position: absolute;
	top:65px;
	left: 30px;
}

/*中央分隔符*/
.extractmark{
	position: absolute;
	left:80px;
	color:#ffffff;
	top:70px;
}

/**/
.livepreview{

}

.radio-style{
	display: inline;
	position: relative;
	top: 0px;
	left: 390px;
	color:#333;
}

.radio-style span {
	width: 50px;
	display:inline-block;
}

button {
	height:30px;
	font-size:15px;
}

.recommend-edit {
	display:block;
	width:235px;
	height:205px;
	position:relative;
	background-color:#F0F0F4;
	left: 62px;
	top: 0px;
	clear:both;
}

.recommend-edit .image {
	position:relative;
	top:10px;
	left:10px;
	display:inline-block;
}

.recommend-edit .button-style {
	display:inline-block;
	width:100px;
	height:80px;
	position: relative;
	top: -14px;
	left: 12px;
}
.recommend-edit .button-style button {
	width:90px;
	margin:8px;
}

/*hover 美女直播具体房间的text*/
.jutiroomhoverlivetext{
	color:#ffffff;
	position: absolute;
	top:70px;
	left: 10px;
}

.pindaohoverlivetext{
	color:#ffffff;
	position: absolute;
	top:70px;
	left: 38px;
}

.recommend-edit .text-style {
	margin:15px;
}

.recommend-edit .text-style input {
	width:201px;
}

.recommend-edit .text-style .button-div {
	margin: 0px 0px 0px 57px;
}

.recommend-edit .text-style button {
	width:70px;
}

.recommend-success {
	display:inline-block;
	width:215px;
	height:100px;
	position:relative;
	background-color:#F0F0F4;
	left: 62px;
	top: 0px;
	clear:both;
	padding:15px;
}


.recommend-success span {
	position:relative;
	top:-10px;
	left:0px;
	font-size:14px;
	font-weight:bold;
}

.recommend-success .image {
	display:inline-block;
	position:relative;
	top:10px;
	left:10px;
}

.recommend-success .button-style {
	width:200px;
	height:40px;
	padding:15px;
}

.recommend-success .button-style #ok {
	width:50px;
}

.recommend-success .button-style #contentManagement {
	width:110px;
}

#gameprevlbtn,#girlprevlbtn{
	position: absolute;
	left:5px;
	top:140px;
	width:22px;
	height: 22px; 
	background: url("../image/left_normal.png") no-repeat;
	cursor: pointer;
    _display: inline;
}
#gamenextrbtn,#girlnextrbtn{
	position: absolute;
	right:5px;
	top:140px;
	width:22px;
	height: 22px; 
	background: url("../image/right_normal.png") no-repeat;
	cursor: pointer;
    _display: inline;
}
/*改变位置使其居中*/
#renqizhubo3,#renqizhubo2,#gamezhibo2,#gamezhibo3{
	margin-left: 22px;
    _display: inline;
}