@charset "utf-8";
/* CSS Document */

/* global setting */
.ib {
    display: inline-block;
}
body {
    font: 12px '宋体';
}

/* header */
.header {
    z-index: 22;
    text-align: right;
}
/* container */
.main_container{
	width:606px;
	height: 345px;
    margin: 0 auto;
    border: 1px solid #4fb1d4;
}
.content {
    position: relative;
    width: 100%;
    height: 345px;
    top: -15px;
}
.renqizhubo,
.gamezhibo {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 2px 5px;
}
.gamezhibo {
    margin-top: 15px;
}
.cell_icon {
    width: 70px;
    height: 18px;
    line-height: 18px;
    text-align: right;
    margin-left: 30px;
}
.renqizhubo .cell_icon {
    background: url(../image/sprite24.png?xxx) -10px -94px no-repeat;
    _background: url(../image/sprite8.png?xxx) -10px -94px no-repeat;
}
.gamezhibo .cell_icon {
    background: url(../image/sprite24.png?xxx) -6px -120px no-repeat;
    _background: url(../image/sprite8.png?xxx) -6px -120px no-repeat;
    width: 75px;
}
.prev,.next{
	width: 22px;
	height:130px;
	display: block;
	cursor: pointer;
    float: left;
}
.prev{
	float:left;
	background: url(../image/left_normal.png?xxx) no-repeat center;
}
.prev:hover{
	background: url(../image/left_hover.png?xxx) no-repeat center;
}
.prev:active{
    background: url(../image/left_press.png?xxx) no-repeat center;
}
.next{
    float:left;
    background: url(../image/right_normal.png?xxx) no-repeat center;
}
.next:hover{
	background: url(../image/right_hover.png?xxx) no-repeat center;
}
.next:active{
    background: url(../image/right_press.png?xxx) no-repeat center;
}
.jCarouselLite {
    float: left;
}
.jCarouselLite ul{
    height: 130px;
    overflow: hidden;
}
.jCarouselLite ul li{
    position: relative;
    float: left;
    margin: 5px 8px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 1px solid #a6d6e5;
    border-radius: 3px;
    z-index: 1;
    _display: inline;
}
a.renqi_cell_image {
    display: block;
    background: url(../image/avatar.png?xxx) no-repeat center;
    width: 120px;
    height: 90px;
}
a.game_cell_image {
    display: block;
    background: url(../image/game-living.png?xxx) no-repeat center;
    width: 120px;
    height: 90px;
}
p.cell_name {
    color: #4fb1d4;
    padding: 6px 2px;
}
.people_num{
	float: right;
    background: url(../image/sprite24.png?xxx) -9px -145px no-repeat;
    _background: url(../image/sprite8.png?xxx) -9px -145px no-repeat;
    width: 35px;
    text-align: right;
    color: #889396;
}
.people_name{
	text-align: left;
	width:40px;
	position: absolute;
	top:160px;
	left:5px;
}
.room_id{
	height: 21px;
	width: 23px;
	position: absolute;
	top:0px;
    right: 4px;
	color: #ffffff;
	text-align: center;
	padding: 0 0 0 0;
	font-size: 12px;
	background: url(../image/sprite24.png?xxx) -9px -65px no-repeat;
    _background: url(../image/sprite8.png?xxx) -9px -65px no-repeat;
}

.hover_tiplive{
	width: 160px;
	height: 160px;
	background-color: #808080;
	/*opacity: */
	opacity: 0.65;
	-moz-opacity: 0.65;
	filter:alpha(opacity=65)
	height:20px;
	position: absolute;
	top:0px;
	left:0px;
	text-align: center;
	/*filter:none;    */
	z-index:2;
	cursor: pointer
}
.hover_tipgame{

}
.one_line{
	width: 700px;
	height:180px;
}
.recommand_title{
	display: inline-block;
	width: 120px;
}
.radio-style{
	display: inline;
	position: relative;
	top: -21px;
	left: 290px;
	color:#333;
}

.radio-style span {
	width: 50px;
	display:inline-block;
}

.recommend-edit {
	display:block;
	width:235px;
	height:205px;
	position:relative;
	background-color:#F0F0F4;
	left: 62px;
	top: 0px;
	clear:both;
}

.recommend-edit .image {
	position:relative;
	top:10px;
	left:10px;
	display:inline-block;
}

.recommend-edit .button-style {
	display:inline-block;
	width:100px;
	height:90px;
	position: relative;
	top: -20px;
	left: 12px;
}
.recommend-edit .button-style button {
	width:90px;
	margin:5px;
}
.play_icon{
	background: url(../image/sprite24.png?xxx) no-repeat -9px -9px;
    _background: url(../image/sprite24.png?xxx) no-repeat -9px -9px;
	position: absolute;
	top:62px;
	left:62px;
	width: 36px;
	height: 36px;
}
/*hover 美女直播具体房间的text*/
.jutiroomhoverlivetext{
	color:#ffffff;
	position: absolute;
	top:120px;
	left: 10px;
}

/*hover 美女直播频道的text*/
.channelhoverlivetext{

}
/*中央分隔符*/
.extractmark{
	position: absolute;
	left:100px;
	color:#ffffff;
	top:120px;
}

/**/
.livepreview{
}