@charset "utf-8";
/* CSS Document */

.recommand_header{
    	background-color: ;
}
.prev,.next{
	
	display: block;
}
.prev{
	float:left;
}
.next{
	float:left;
}
.jCarouselLite{
	float: left;
}
.cell{
	width:180px;
	height:200px;
	padding: 0 0 0 0;
	margin: 0 auto;    	
	position: relative;
	z-index: 1;
}
.people_num{
	text-align: right;
	float: right;
}
.people_name{
	text-align: left;
}

.cell_image{
	margin: 0 auto;
}
.room_id{
	height: 20px;
	width: 20px;
	background-color: #808080;
	position: absolute;
	top:0px;
	left: 0px;
	color: #000000;
	text-align: center;
	padding: 0 0 0 0;
}
.hover_tiplive{

}
.hover_tipgame{

}
.one_line{
	width: 700px;
	/*height:200px;*/
}
.recommand_title{
	display: inline-block;
	width: 120px;
}
.cell_icon{
	margin-left: 40px;
}
	
.radio-style{
	display: inline;
	position: relative;
	top: -21px;
	left: 290px;
	color:#333;
	font-size:12px;
	font-family:微软雅黑;
}

.radio-style span {
	width: 50px;
	display:inline-block;
}
